/* CSS for the allergy flag icon */
#allergy-flag {
    color: red;
    font-size: 1.25em;
    font-weight: bolder;
    padding-bottom: 2px;
}

/* CSS for the icons & text at the top of the card */
#card-title-icons {
    font-size: 1em;
    font-weight: bold;
}

/* CSS for the order category container */
#item-category-container {
    margin-left: 0;
}

/* CSS for the order category text */
#item-category-name {
    color: purple;
    font-size: 1.25em;
    font-weight: bolder;
    margin-left: 0;
}

/* CSS for the order item text */
#item-name {
    font-size: 1.25rem;
}

/* CSS for the item ready button on the card */
#item-ready-card-button {
    border: 1px solid black;
}

/* CSS for the footer container */
#card-footer-container {
    background-color: transparent;
    border: none;
    font-size: .75em;
}