@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

#root {
  font-family: 'Poppins', sans-serif;
  background-color: #E7F2F8;
  height: 100vh;
}

/* .container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
} */

.container {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  padding: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr .025fr 1fr;
  margin-top: 2.8em;
}

#call_waitstaff_button, #call_manager_button {
  display: inline-block;
  margin-right: 5px;
  transition-duration: 0.4s;
}

#noteCard {
  margin-top: 2.5%;
}

.noteCard-Header.card-header {
  width: 100%;
  /* background-color: #7dce94; */
  background-color: #fabfb9;
}

.noteCard-Body.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  width: 100%;
  /* background-color: #d4d4dc; */
  background-color: #fef6df;
  color: #434343;
}

/* 
.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
} */
