.popup-background {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	width: 100% !important;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	z-index: 40;    
}

.popup-inner {
	display: grid;
	position: relative;
	border-radius: 1rem;
	box-shadow: 3px 4px rgba(0, 0, 0, 0.8);
	border: 1px solid;
	border-color: black;
	padding: 1em .5em;
	width: 100%;
	max-width: 32em;
	background-color: #E1E0F2;
}


.popup-inner-header-x-btn {
	position: absolute;
	top: .95em;
	right: .7em;
	font-size: x-large;
	width: 1.25em;
	height: 1.25em;
	background-color: rgb(0, 0, 0);
	border-radius: .2em;
}

.pop-up-inner-text {
	margin-left: .4em;
}

.popup-inner .popup-btn {
	position: absolute;
	top: 16px;
	right: 16px;
	background-color: black;
}

