* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
:root {
    --div-height: 350px;
    --div-width:600px;
    
}
::placeholder{
    color: #fef6dfb4;
}
.Area{
    margin-left: 300px; 
    position: absolute;
    top: 25%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: var(--div-width);
    height: var(--div-height);
    background-color: #945d72;
}

.text{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fef6df;
    padding: 20px;
    padding-left: 10px;
    font-size: 225%;
    
}
#comments{
    border: solid;
    border-color: #fef6df;
    justify-content: left;
    font-size: 30px;
    text-align: left;
    width: 570px;
    margin-left: 2.5%;
    display: block;
    background-color: #9e7b91;
    color: #fef6df;
    margin-bottom: 5px;
    padding-left: 10px;
    max-width: 570px;
    overflow-y:scroll;
    overflow-x: scroll;
    white-space: pre-wrap;
}
.selection{
    display: flex;
    padding: 40px;
    justify-content: space-around;  
}
.selection .button{
    border: none;
    position: relative;
    display: inline-block;
    background-color: #9e7b91;
    border-radius: 15px;
    /* margin: 15px; */
    padding: 15px 35px;
    color: #fef6df;
    cursor: pointer;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: -50px;
}

.button:hover{
    background-color: #694050;
}