header {
  width: auto;
  height: 300px;
  background-color: #74c3c8;
  background-size: cover;
  font-family: Calibre;
  text-align: center;
  margin: -10px; <!-- temporary fix -->
}

.header_content {
  display: grid;
}

.role {
  font-size: 48px;
  font-weight: bold;
}
