header {
  width: 100%;
  height: 200px;
  position: absolute;
  top:0;
  left: 0;
  background-color: #74c3c8;
  background-size: cover;
  font-family: Calibre;
  text-align: center;
}

.role {
  font-size: 44px;
  font-weight: bold;
  margin-top: -50px;
}

.name {
  margin-top: -65px;
  padding-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: stretch;
}

 .box {
   font-size: 24px;
   z-index: 10;
 }

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a[tabindex]:focus {
  color: #fef6df;
  outline: none;
}

.display {
  width: 100%;
  position:relative;
}

.display iframe {
  border: dotted black; /* change back to 'none' */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 200px;
}
