* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --div-height: 100px;
    --div-width:200px;
}

body{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

.board{
    background: #945d72;
    margin: 50px;
    padding: 30px;
    border-radius: 30px;
}

.Title {
    color: #fef6df;
    text-align: center;
    font-size: xx-large;
}
.new-game   {
    font-size: x-large;
    text-align: right;
    color: #fef6df;
    margin-left: 800px;
    cursor: pointer;
}

.newGame:hover {
    color: #74c3c8;
}

.area {
    margin: 30px;
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(3,auto);
    grid-gap: 20px;
}

.area .card{
    list-style-type: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    background: #9e7b91;
    height: var(--div-height);
    width: var(--div-width);
    cursor: pointer;
    font-size: 0;
    display: flexs;
}

.card.select{
	background: #fabdb9;
	cursor: default;
    pointer-events: none;
    font-size: 33px;
	backface-visibility: visible !important;
}

.card.matched{
    background-color: #74c3c8 !important;
    cursor: default;
    pointer-events: none;
    font-size: 33px;
    backface-visibility: visible !important;
}

.card.wrong{
    background-color: red !important;
    cursor: default;
    pointer-events: none;
    font-size: 33px;
    backface-visibility: visible !important;
}

.card.stop{
    cursor: not-allowed;
    pointer-events: none;
}