body {
  font-family: Calibre;
}

.container {
  display: grid;
  position: relative;
  grid-template-rows: repeat(minmax(50px, 1fr), 5);
  grid-template-columns: repeat(minmax(50px, 1fr), 3);
  grid-template-areas: "blank h1 h2"
                       "h3 d1 d2"
                       "h4 d3 d4"
                       "h5 d5 d6"
                       "h6 d7 d8";
}

.box {
  text-align: center;
  border: 1px solid black; /* temporary: remove when positioning correct */
}

.heading {
  font-weight: bold;
}

#blank {
  grid-area: blank;
}

#head1 {
  grid-area: h1;
}

#head2 {
  grid-area: h2;
}

#head3 {
  grid-area: h3;
}

#head4 {
  grid-area: h4;
}

#head5 {
  grid-area: h5;
}

#head6 {
  grid-area: h6;
}
