
.Tables {
  float: left;
  width: 60%;
  background-color:#9e7b91;
}
.App {
  background-color:#9e7b91;
  text-align: center;
}

.App-Header {
  text-align: center;
  min-width: 15%;
  max-width: 100%;
  font-size: 100px;
  justify-content: content;
  /*background-color: rgba(80, 77, 77, 0.096);*/
  background-color:#865367;
  
}

.Content-View{
  background-color: #9e7b91;
}

.SideBar{
  min-width: 30vh;
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #945d72;
}
