.Manager{
    width:60%;
}
.Manager-Header {
    clear: both;
    float: left;
    text-align: center;
    min-height: 15%;
    min-width: 15%;

    font-size: 40px;
    color: white;
}
.Tables1{
    float:left;
}
.Manager-Subheader{
    clear: both;
    float: left;
    text-align: center;
    min-height: 15%;
    min-width: 15%;

    font-size: 20px;
    color: white;
}