.Pay{
    width:60%;
}

.Pay-Header {
    clear: both;
    float: left;
    text-align: center;
    min-height: 15%;
    min-width: 15%;

    font-size: 40px;
    color: white;
}
.Button-Bar{
    float:left;
    flex-direction: column;
    display: flex;
}