.Table {
    align-items: left;
    float: left;
    min-width: 20%;
    min-height: 20%;
    width: 15vmin;
    height: 15vmin;
    position: relative;
    background-color:#9e7b91;
}

.Table-Image { 
    height: 50%;
    width: 50%;
    background-color:#9e7b91;
}
.Table-Button {
    background-color:#9e7b91;
    
}
.Table-ID {
    flex: 1;
    position: absolute;

    top: 0;
    right: 30px;
    width: 100%;

 
}
